@font-face {
    font-family: 'mont_heavy';
    src: url('../assets/fonts/Mont-HeavyDEMO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mont_light';
    src: url('../assets/fonts/Mont-ExtraLightDEMO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        filter: opacity(0%);
        opacity: 0;
    }
    100% {
        filter: opacity(100%);
        opacity: 1;
    }
}


body {
    font-family: 'mont_light';
    background-color: black;
    background-image: url("../assets/decal dark.jpg");
    background-size: cover;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.nav-item a {
    font-family: "mont_light";
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: font-size 0.25s ease-in-out, letter-spacing 0.25s ease-in-out;
}

.nav-item:hover {
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a .navlogo {
    width: auto;
    height: 50px;
}

.nav-item .current {
    color: white;
    text-decoration: underline;
}


.cards {
    padding: 50px 0;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.card {
    /* border-radius: 20px; */
    background-color: #00000025;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    transition: background-color 0.25s ease-in-out, width 0.5s ease-in-out;
}

.card:hover {
    background-color: #13131325;
    width: 300px;
}

.card a {
    color: white;
    text-decoration: none;
}